body {
  font-family: "Red Hat Text", sans-serif;
  background-color: #ffd7f1;
}

h1 {
  color: #ffd7f1;
  font-family: "Bebas Neue", cursive;
  font-size: 60px;
  line-height: 95%;
}

h2 {
  color: #fff9fc;
  margin-bottom: 50px;
  font-weight: medium;
}

h3 {
  padding-top: 190px;
}

.icone {
  position: absolute;
  top: 20px;
  left: 20px;
  z-index: 10;
}

.icone a {
  position: fixed;
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.btn-light {
  background-color: #ffd7f1;
  border-color: #ffd7f1;
  font-size: 20px;
}

.btn-light:hover {
  background-color: #ffd7f1;
  border-color: #ffd7f1;
  -webkit-filter: brightness(0.8);
          filter: brightness(0.8);
}

.hero #particles-js {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -1;
  background-color: #06090e;
}

.hero .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.hero .wrapper .texte {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 60vh;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-item-align: center;
      align-self: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 50px 30px;
  background: no-repeat left/70% url(./ressources/blob.png);
  -webkit-animation: blob linear 10s infinite;
          animation: blob linear 10s infinite;
}

.hero .wrapper .photo {
  padding-top: 20px;
  height: 40vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.hero .wrapper .photo .photo-principale {
  max-width: 70vw;
  max-height: 35vh;
}

.hero .wrapper .photo .collant {
  position: relative;
  bottom: 20px;
  right: 50px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  z-index: 3;
}

.hero .wrapper .photo .collant:first-of-type {
  top: 30px;
  left: 65%;
}

.hero svg {
  height: auto;
  width: 100vw;
  -webkit-transform: scaleY(-1);
          transform: scaleY(-1);
  position: absolute;
  bottom: 0;
}

.hero svg path {
  -webkit-transform-origin: center;
          transform-origin: center;
  -webkit-transform: scaleX(4);
          transform: scaleX(4);
}

@media (min-width: 768px) {
  h1 {
    font-size: 85px;
  }
  .hero #particles-js {
    height: 80vh;
  }
  .hero .wrapper {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    max-width: 90vw;
    margin: auto;
  }
  .hero .wrapper .texte {
    z-index: 2;
    margin-left: 30px;
    width: 65vw;
  }
  .hero .wrapper .photo {
    padding-top: 0;
    height: auto;
  }
  .hero .wrapper .photo .photo-principale {
    width: auto;
    max-height: unset;
    max-width: unset;
  }
  .hero .wrapper .photo img {
    display: block;
    position: relative;
    width: 35vw;
    right: 30px;
  }
  .hero .wrapper .photo img.collant {
    right: 80px;
  }
  .hero .wrapper .photo img.collant:first-of-type {
    left: 60%;
  }
}

@-webkit-keyframes blob {
  0% {
    background-position: center/70%;
  }
  10% {
    background-position: 15% 53%;
  }
  20% {
    background-position: 10% 47%;
  }
  30% {
    background-position: 8% 52%;
  }
  40% {
    background-position: 10% 61%;
  }
  50% {
    background-position: 5% 55%;
  }
  60% {
    background-position: 14% 45%;
  }
  70% {
    background-position: 6% 52%;
  }
  80% {
    background-position: 15% 55%;
  }
  90% {
    background-position: 12% 58%;
  }
  100% {
    background-position: center/70%;
  }
}

@keyframes blob {
  0% {
    background-position: center/70%;
  }
  10% {
    background-position: 15% 53%;
  }
  20% {
    background-position: 10% 47%;
  }
  30% {
    background-position: 8% 52%;
  }
  40% {
    background-position: 10% 61%;
  }
  50% {
    background-position: 5% 55%;
  }
  60% {
    background-position: 14% 45%;
  }
  70% {
    background-position: 6% 52%;
  }
  80% {
    background-position: 15% 55%;
  }
  90% {
    background-position: 12% 58%;
  }
  100% {
    background-position: center/70%;
  }
}

@media (min-width: 992px) {
  .hero .wrapper {
    height: 80vh;
  }
  .hero .wrapper .texte {
    width: unset;
  }
  .hero .wrapper img {
    width: unset;
    position: unset;
  }
  .hero .wrapper img.collant {
    right: 50px;
  }
  .hero .wrapper img.collant:first-of-type {
    left: 72%;
  }
  .hero .wrapper svg {
    top: 70vh;
    bottom: unset;
  }
}

@media (min-width: 1200px) {
  h1 {
    font-size: 100px;
    margin: 60px 0 20px;
  }
  .hero .wrapper {
    max-width: 1150px;
  }
}
/*# sourceMappingURL=styles.css.map */
